<p style="padding-top:30px">
  <h3>Try it!</h3>

{% if page.collection == "tutorials" %}
{% assign box_name = 'tutorial' %}
{% else %}
{% assign box_name = page.slug %}
{% endif %}

{% if site.box-add-urls %}
Load the Vagrant box using either virtualbox or libvirt:
{% highlight bash %}
# For virtualbox
vagrant box add --provider virtualbox selinuxgame/{{ box_name }} {{ site.box-add-urls }}{{ box_name }}_virtualbox.box
vagrant up  --provider virtualbox {{ box_name }}
vagrant ssh {{ box_name }}



# For libvirt
vagrant box add --provider libvirt selinuxgame/{{ box_name }} {{ site.box-add-urls }}{{ box_name }}_libvirt.box
vagrant up --provider libvirt {{ box_name }}
vagrant ssh {{ box_name }}
{% endhighlight %}

{% else %}
Explore these commands using the {{ box_name }} vagrant box. Start the environment using
{% highlight bash %}
vagrant up {{ box_name }}
vagrant ssh {{ box_name }}
{% endhighlight %}
If you don't have the command, visit the
  <a href="{{ layout.rel_path }}{% link getting_started.md %}index.html">getting started guide</a>
</p>
{% endif %}
