---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

  <p style="...">
  <h3>To play:</h3>
    <ol>
      <li><a href="https://www.vagrantup.com/downloads.html">Install Vagrant</a>.</li>
      <li>Download a copy of <a href="{{ site.url }}/Vagrantfile">the Vagrantfile</a></li>
      <li>Answer the questions asked by the scenario.</li>
      <li>Submit the answer to an Admin to get on the <a href="{% link leaderboard.md %}">leaderboard</a></li>
    </ol>
  </p>

  <p style="padding-top:10px">
    <h3>Scenario Description:</h3>
    {{ page.description }}
  </p>

{% include try-it.html %}

  <h3 style="padding-top:30px">Submit your Answer</h3>
  <p>
    When you believe you know the answer, tell it to one of the
    <a href="{{ site.baseurl }}{% link admins.md %}"> SELinux Game Admins</a>
    via Freenode. An admin can verify your solution and record your name on
    <a href="{{ site.baseurl }}{% link leaderboard.md %}">the leaderboard</a>.
  </p>

  You may be able to connect to Freenode using: <a href="https://webchat.freenode.net/">webchat.freenode.net</a>
</div>
